/* bottom navigator */

.bottomNav {
    background-color: rgba(0, 0, 0, 1);
    border-radius: 0;
    margin: 0;
    padding: .5em 0;
    list-style: none;
    color: rgba(176, 176, 176, 1.0);
    font-size: .6em;
}
@media (min-width: 150px) and (max-width: 360px) {
    #bottomProfilePicture {
        padding: 0;
    }
    .myContact {
        line-height: 1em;
    }
}