/* */

@media (min-width: 150px) and (max-width: 991px) {
    #bottomProfilePicture {
        background: url("../img/smallBack.jpg") no-repeat fixed;
        margin: 0px auto;
        width: 100%;
        height: 100%;
        position: relative;
        background-size: 2500px;
        padding: 2em 0;
    }
    #professionalBackground img {
        width: 100%;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
        margin-bottom: 2em;
    }
}

@media (min-width: 150px) and (max-width: 767px) {
    .pull-right {
        float: none !important;
    }
}

@media (min-width: 150px) and (max-width: 360px) {
    #intro {
        background: url("../img/smallBack.jpg") no-repeat fixed 50% 0px / cover transparent;
        height: 800px;
        margin: 0px auto;
        width: 100%;
        position: relative;
        h1, h3 {
            text-align: center;
        }
    }
    #about {
        background: none;
        padding: 0;
    }
    .status {

        margin: 0;
        padding: 0;
        text-align: center;
        p {
            margin-top: 1em;
        }

    }
    #information2 {
        margin: 2em 0;
    }
    #professionalBackground .container {
        margin: 1em auto;
        padding: 2em 0 0;
    }
    .services {
        margin: 3em auto;
        hr {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        h4 {
            margin-top: 1em;
        }
    }
    .myContact {
        margin: 0 auto;
        line-height: 1.2em;
        .contact {
            padding: 0;
        }
        .well {
            margin: 0;
            padding: .75em;
        }
    }
    #blank  {
        text-align: center;
    }
}

/* 360x640 */

@media (min-width: 360px) and (max-width: 640px) {
    // #bottomProfilePicture {
    //     background: url("../img/smallBack.jpg") no-repeat fixed;
    //     height: 5%;
    //     margin: 0px auto;
    //     width: 100%;
    //     position: relative;
    //     box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    //     background-size: 2650px;
    // }
    // #bottomProfilePicture {
    //     background: url("../img/smallBack.jpg") no-repeat fixed;
    //     margin: 0px auto;
    //     width: 100%;
    //     height: 100%;
    //     position: relative;
    //     background-size: 2000px;
    //     padding: 2em 0;
    // }
    #intro {
        background: url("../img/smallBack.jpg") no-repeat fixed 50% 0px / cover transparent;
        height: 800px;
        margin: 0px auto;
        width: 100%;
        position: relative;
        h1, h3 {
            text-align: center;
        }
    }
    #about {
        background-size: 1850px;
    }
}

@media (min-width: 640px) and (max-width: 750px) {
    #intro {
        h1, h3 {
            text-align: center;
        }
    }
}
/* 640x1200 */

@media (min-width: 640px) and (max-width: 1200px) {
    // #bottomProfilePicture {
    //     background: url("../img/smallBack.jpg") no-repeat fixed;
    //     height: 5%;
    //     margin: 0px auto;
    //     width: 100%;
    //     position: relative;
    //     box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    //     background-size: 1800px;
    // }
    #about {
        background-size: 1800px;
    }
}
/* 1200x 1600 */

@media (min-width: 1200px) and (max-width: 1600px) {
    #bottomProfilePicture {
        background: url("../img/smallBack.jpg") no-repeat fixed;
        height: 5%;
        margin: 0px auto;
        width: 100%;
        position: relative;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
        background-size: 1700px;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    #about {
        background-size: 1700px;
    }
}

@media (min-width: 1600px) and (max-width: 3200px) {
    #intro {
        background: url("../img/colorBackground.jpg") 50% 0 no-repeat fixed;
        height: 900px;
        margin: 0px auto;
        width: 100%;
        position: relative;
        // box-shadow: 0 0 50px rgba(0,0,0,0.8);
        background-size: cover;
    }
}