//SKILLSET Progress Bars
.skillSet {
    background: url(../img/green_keyboard.jpg) 5% 0 no-repeat fixed;
    margin: 0 auto;
    width: 100%;
    position: relative;
    background-size: cover;
    padding: 0;
    color: white;
    z-index: -1;
    h4 {
        margin: 2em 0;
    }
    
}
.shade {
    background: black 5% 0 no-repeat fixed;
    background-color: rgba(0, 0, 0, 1.0);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: cover !important;
    text-align: center;
    overflow: hidden;
    height: 27.55em;
    width: 50%;
    position: absolute;
    z-index: 0;
    margin: 0;
    padding: 0;
    opacity: .3;
}
.shade-margin {
    padding: 2em 0 4em 0;
}

// Progress Bar Crap------------------
.progress-bar {
    border-right: solid 6px hsla(136, 100%, 25%, 1.0);
}

.progress {
    
    border: 8px solid transparent;
    border-radius: 4px;
    height: 20px;
    background-color: transparent;

}

.progress-bar-custom {
    background-color: hsla(250, 100%, 44%, 1.0);
}
.progress-bar-custom1 {
    background-color: hsla(352, 100%, 52%, 1.0);
}

// Media Queries

@media(max-width:767px) {
    .shade {
        height: 41.5em;
        opacity: .1;
    }
    .skillSet {
    background: url(../img/green_keyboard.jpg) 5% 0 no-repeat fixed;
    margin: 0 auto;
    width: 100%;
    position: relative;
    background-size: cover;
    padding: 0;
    color: white;
    z-index: -1;
    h4 {
        margin: 2em 0;
    }
    .progress, p {
        
    }
}

}















// End