//SKILLSET Progress Bars
.skillSet {
    background: url(../img/blueBackground.jpg) 5% 0 no-repeat fixed;
    margin: 0 auto;
    width: 100%;
    position: relative;
    background-size: cover;
    padding: 0;
    color: black;
    font-weight: 900;
    z-index: -1;
    h4 {
        margin: 2em 0;
    }
    
}
.shade {
    background: black 5% 0 no-repeat fixed;
    background-color: rgba(0, 0, 0, 1.0);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: cover !important;
    text-align: center;
    overflow: hidden;
    height: 25em;
    width: 50%;
    position: absolute;
    z-index: 0;
    margin: 0;
    padding: 0;
    opacity: .3;
}
.shade-margin {
    padding-top: 2em;
    padding-bottom: 4em;
}


.progress-bar {
    margin-right: .6em;
}

.progress {
    
    border: 8px solid transparent;
    border-radius: 4px;
    height: 20px;
    background-color: transparent;

}

.progress-bar-custom {
    background-color: hsla(9, 96%, 0%, 1.0);
    
}
.progress-bar-custom1 {
    background-color: hsla(189, 96%, 100%, 1.0);
}

// Media Queries

@media(max-width:767px) {
    .shade {
        height: 39.1em;
        opacity: .1;
    }
    .skillSet {
    margin: 0 auto;
    width: 100%;
    position: relative;
    background-size: cover;
    padding: 0;
    color: white;
    z-index: -1;
    h4 {
        margin: 2em 0;
    }
    .progress, p {
        
    }
}

}















// End